#0001 The system shall be able to determine if a triangle is scalene, equilateral or isosceles

#0002 The system shall accept three triangle sides as length in either float or integers

#0003 The system shall be able to determine the type of quadrilateral based on 4 sides and 4 angles

#0004 The system shall accept quadrilateral sides as floats or integers

#0005 The system shall accept quadrilateral angles as floats or integers

#0006 The system shall accept questions in the form of strings and attempt to answer them

#0007 The system shall answer questions that begin with one of the following valid question keywords: "How", "What", "Where", "Why" and "Who"

#0008 If the system does not detect a valid question keyword it shall return "Was that a question?"

#0009 If the system does not detect a question mark at end of the string it shall return "Was that a question?"

**Determining Answers**

#0010 The system shall break a question down into words separated by space

#0011 The system shall determine an answer to a question as a correct if the keywords provide a 90% match and return the answer

#0012 The system shall exclude any number value from match code and provide the values to generator function (if one exists)

#0013 When a valid match is determined the system shall return the answer

#0014 When no valid match is determined the system shall return "I don't know, please provide the answer"

**Providing Answers**

#0015 The system shall provide a means of providing an answer to the previously asked question.

#0016 The system shall accept and store answers to previous questions in the form of a string or a function pointer and store it as the generator function.

#0017 If no previous question has been asked the system shall respond with "Please ask a question first"

#0018 If an attempt is made to provide an answer to an already answered question the system shall respond with "I don\'t know about that. I was taught differently" and not update the question

**Correcting Answers**

#0019 The system shall provide a means of updating an answer to the previously asked question.

#0020 The system shall accept and store answers to previous questions in the form of a string or a function pointer and store it as the generator function.

#0021 If no previous question has been asked the system shall respond with "Please ask a question first"


*"What time is it?"* I want to be given the current date/time so I can stay up to date
*"What is the n digit of fibonacci?"* I want to receive the answer so I don't have to figure it out myself
#0022 The system shall respond to the question "What is the <int> digit of the Fibonacci sequence?" with the correct number from the fibonnacci sequence if the number has been found                  

*"What is the n digit of pi?"* I want to receive the answer so I don't have to figure it out myself
#0023 The system shall respond to the question "What is the <int> digit of pi?" with the correct number from the sequence of pi if the number has been found                  


*"Please clear memory"* I was the application to clear user set questions and answers so I can reset the application
#0024 Clear the momory when user ask 

*"Open the door hal"*, I want the application to say "I'm afraid I can't do that <user name> so I know that is not an option
#0025 The system shall respond to the question "Open the door hal?" with "I'm afraid I can't do that <username>" 

*"How to updating an answer"*How to updating an answer to the previously asked question?
#0026 The system shall provide a means of updating an answer to the previously asked question.

*"Please ask a question first"* If no previous question has been asked the system shall respond with 
#0027 If no previous question has been asked the system shall respond with "Please ask a question first"

*"system shall return the answer"* When a valid match is determined the system shall return the answer
#0028 When a valid match is determined the system shall return the answer

*"Is it a Square?"* This is a perfect square.

*"Convert <number> <units> to <units>"* I want to receive the converted value and units so I can know the answer.
#0029 Convert from feet to miles

*"numberic conversion"* I want at least 10 different units I can convert from/to.
#0030 Convert with different unit

*"Is it a tuples?"* yes it is a tuple

*"Is it an instance?"* it is a new instance

*"where is the git branch?"* system should provide me the address of git  branch.

#0031 The system shall return 'Yes' or 'No' when asked 'Is the <file path> in the repo?'

#0032 The system shall return one of the following when asked 'What is the status of <file path>?'

         - <file path> has been modified locally

         - <file path> has not been checked in

         - <file path> is a dirty repo

         - <file path> is up to date

#0033 The system shall return '<hash>, <date modified>, <author>' when asked 'What is the deal with <file path>?'

#0034 The system shall return the repo branch when asked 'What branch is <file path>?'

#0035 The system shall return the repo url when asked 'Where did <file path> come from?'
#0036 The system shall return path exits
#0037 System shall provide me file info from git repository.

#0038 When asked a question the system shall output the question to a log file.

#0039 When asked a question the system shall output the answer to a log file

#0040 The system shall output questions and answers to the log file in under 50 ms

#0041  The system shall be able to determine the type of quadrilateral based on 4 sides and 4 angles under 50 ms

#0042 The system shall be able to get git branch result under 25 ms

#0043 The system shall return 'yes' or 'no' when asked is the file <file_path in the repo in 20ms

#0044 The system shall return unit conversion from inches to centimeter in under 15ms.